@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Plus+Jakarta+Sans:wght@200;400&display=swap');

:root {
  --dark: #282729;
  --light: #f7f5f1;
  --x: #f1b844;
  --o: #d64b92;

  --hand: 'Cookie', cursive;
  --normal: 'Plus Jakarta Sans', sans-serif;
}

html {
  font-family: var(--normal);
  background-color: var(--dark);
}
button {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
button::after {
  content: '';
  background-color: var(--o);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
button:hover::after {
  top: 0px;
  left: 0px;
}
.container {
  height: 100vh;
  /* background-image: url(/img/art-left.svg), url(/img/art-right.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
header {
  grid-area: 1/1/2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  font-family: var(--hand);
  /* font-size: 2rem; */
}
header h2 {
  padding: 1rem;
  color: var(--light);
}
.player--1--heading {
  color: var(--x);
}
.player--2--heading {
  color: var(--o);
}

.players {
  margin-bottom: -10px;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
.score {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-right: 1rem;
}
.score h2 {
  margin-top: -60px;
  padding-bottom: 1rem;
  height: 50px;
}
.player--1--score {
  color: var(--x);
}
.player--2--score {
  color: var(--o);
}
.board-wrap {
  background-image: url(/img/Lines.svg);
  background-repeat: no-repeat;
  margin-inline: auto;
  grid-area: 2 / 1 / 4 / 3;
  height: 720px;
  width: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.board {
  height: 240px;
  width: 240px;
}

.mark--o {
  background-image: url(/img/O.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.mark--x {
  background-image: url(/img/X.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.hidden {
  display: none;
}
.modal {
  margin-inline: auto;
  grid-area: 2 / 1 / 4 / 3;
  height: 720px;
  width: 720px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background: rgba(214, 75, 147, 1);
  background: -moz-linear-gradient(
    left,
    rgba(214, 75, 147, 1) 0%,
    rgba(241, 183, 68, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(214, 75, 147, 1)),
    color-stop(100%, rgba(241, 183, 68, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(214, 75, 147, 1) 0%,
    rgba(241, 183, 68, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(214, 75, 147, 1) 0%,
    rgba(241, 183, 68, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(214, 75, 147, 1) 0%,
    rgba(241, 183, 68, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(214, 75, 147, 1) 0%,
    rgba(241, 183, 68, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64b93', endColorstr='#f1b744', GradientType=1 );

  z-index: 50;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal--start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}
.modal--start h1 {
  font-size: 3rem;
  font-family: var(--hand);
  color: var(--dark);
  position: absolute;
  top: 0;
}
.modal--pvp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  display: none;
}
.modal--pai {
}
footer {
  grid-area: 4 / 1 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Media Qs */
/* Adjust board size */
@media screen and (max-width: 725px) {
  .board-wrap {
    height: 600px;
    width: 600px;
    background-size: 100%;
  }
  .board {
    height: 200px;
    width: 200px;
  }
  .modal {
    height: 600px;
    width: 600px;
  }
}
@media screen and (max-height: 1032px) {
  .board-wrap {
    height: 600px;
    width: 600px;
    background-size: 100%;
  }
  .board {
    height: 200px;
    width: 200px;
  }
  .modal {
    height: 600px;
    width: 600px;
  }
}

@media screen and (max-width: 596px) {
  .board-wrap {
    height: 500px;
    width: 500px;
    background-size: 100%;
  }
  .board {
    height: 166.6px;
    width: 166.6px;
  }
  .modal {
    height: 500px;
    width: 500px;
  }
}
@media screen and (max-height: 899px) {
  .board-wrap {
    height: 500px;
    width: 500px;
    background-size: 100%;
  }
  .board {
    height: 166.6px;
    width: 166.6px;
  }
  .modal {
    height: 500px;
    width: 500px;
  }
}
@media screen and (max-height: 783px) {
  .board-wrap {
    height: 300px;
    width: 300px;
    background-size: 100%;
  }
  .board {
    height: 100px;
    width: 100px;
  }
  .modal {
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 496px) {
  .board-wrap {
    height: 300px;
    width: 300px;
    background-size: 100%;
  }
  .board {
    height: 100px;
    width: 100px;
  }
  .modal {
    height: 300px;
    width: 300px;
  }
}
